<nav>
    <ul class="nav nav-pills">
        <li {% if 'players' in app.request.pathinfo %}class="active"{% endif %}>
            <a href="{{ path('players_index') }}" title="Players">Players</a>
        </li>
        <li {% if 'departments' in app.request.pathinfo %}class="active"{% endif %}>
            <a href="{{ path('departments_index') }}" title="Departments">Departments</a>
        </li>
    </ul>
</nav>